{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run_tests.cljk" ".clj"
  "src/etzhayyim/ie_flow/gate_adapter.cljk" ".cljc"
  "src/etzhayyim/ie_flow/metrics.cljk" ".cljc"
  "src/etzhayyim/ie_flow/score.cljk" ".cljc"
  "src/tsumugi/cells/social_post/state_machine.cljk" ".cljc"
  "src/tsumugi/methods/analyze.cljk" ".cljc"
  "src/tsumugi/methods/analyze_banner.cljk" ".cljc"
  "src/tsumugi/methods/analyze_influence.cljk" ".cljc"
  "src/tsumugi/methods/analyze_scale.cljk" ".cljc"
  "src/tsumugi/methods/autorun.cljk" ".cljc"
  "src/tsumugi/methods/coverage_report.cljk" ".cljc"
  "src/tsumugi/methods/coverage_scale.cljk" ".cljc"
  "src/tsumugi/methods/fission_gate.cljk" ".cljc"
  "src/tsumugi/methods/ie_flow.cljk" ".cljc"
  "src/tsumugi/methods/ingest.cljk" ".cljc"
  "src/tsumugi/methods/ingest_influence.cljk" ".cljc"
  "src/tsumugi/methods/ingest_scale.cljk" ".cljc"
  "src/tsumugi/methods/mesh.cljk" ".clj"
  "src/tsumugi/methods/narrate.cljk" ".cljc"
  "src/tsumugi/methods/project_influence_posts.cljk" ".cljc"
  "src/tsumugi/methods/publish.cljk" ".cljc"
  "src/tsumugi/methods/publish_ipfs.cljk" ".cljc"
  "src/tsumugi/methods/resolve.cljk" ".cljc"
  "src/tsumugi/methods/social.cljk" ".cljc"
  "src/tsumugi/methods/topics.cljk" ".cljc"
  "src/tsumugi/murakumo.cljk" ".cljc"
  "test/tsumugi/methods/test_analyze.cljk" ".cljc"
  "test/tsumugi/methods/test_analyze_influence.cljk" ".cljc"
  "test/tsumugi/methods/test_analyze_scale.cljk" ".cljc"
  "test/tsumugi/methods/test_autorun.cljk" ".cljc"
  "test/tsumugi/methods/test_coverage_report.cljk" ".cljc"
  "test/tsumugi/methods/test_coverage_scale.cljk" ".cljc"
  "test/tsumugi/methods/test_fission_gate.cljk" ".cljc"
  "test/tsumugi/methods/test_ie_flow.cljk" ".cljc"
  "test/tsumugi/methods/test_ingest.cljk" ".cljc"
  "test/tsumugi/methods/test_ingest_influence.cljk" ".cljc"
  "test/tsumugi/methods/test_ingest_scale.cljk" ".cljc"
  "test/tsumugi/methods/test_narrate.cljk" ".cljc"
  "test/tsumugi/methods/test_project_influence_posts.cljk" ".cljc"
  "test/tsumugi/methods/test_publish.cljk" ".cljc"
  "test/tsumugi/methods/test_publish_ipfs.cljk" ".cljc"
  "test/tsumugi/methods/test_resolve.cljk" ".cljc"
  "test/tsumugi/methods/test_topics.cljk" ".cljc"
  "test/tsumugi/murakumo_test.cljk" ".cljc"
  "test/tsumugi/tests/test_banner.cljk" ".cljc"}}
